@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Coiny);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family:'Nunito Sans',sans-serif;
	color:#fff;
	font-size:16px;
	background-color: #88d3df;
}
#two_column{
	background-color: #273b69;
}


#left{
	float:left;
	padding-top:0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:100px;
	width: 30%;
	background-color: #1b2b3a;
	height: 200px;
}
#logo {
	width: 100%;
}

#right{
	float:right;
	width: 50%;
}
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content:"";
	clear:both;
	height:0;
	font-size: 0;
	}
img{ width:100%; 
}

header {
}

h1 {
	font-size:75px;
	color: white;
	font-family:'Coiny',sans-serif;
	background-color: #1b2b3a;
}
nav {
	padding: 5em;
	background-color: #915261;
}
 nav a {
 	margin: 1.8em;
 	}

a{
	color: #00CFB4;
}
img { 
	width:100%; 
}
span {
	color:#00405b;
}

#intro{
	background-color: #88d3df;
	padding: 5em;
}

#opportunities{
	background-color: #88d3df;
	padding: 5em;
}
.collumn{
	float:right;
	width:33.33%;
	padding:2em;
	margin: 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content:"";
	clear:both;
	height:0;
	font-size: 0;
}
#sponsors{
	padding: 5em;
	background-color: #fdf3c8;
	clear: both;
}
#involved {
	padding: 5em;
}
footer{
	padding: 5em;
	background-color: #915261;
}

.collumn img {
	width: 100%;
}

.collumn p {
	text-align: center;
}